// миксин, с помощью которого указываем размер таким образом --->
// size(100%, 50px) или просто size(100%), тогда он туда и туда пойдет
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin plaxeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  ::-ms-input-placeholder {
    @content;
  }
}
